.row {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}

img {
	background-size: contain;
	height: 85vh;
}

h1 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
		Verdana, sans-serif;
	font-size: 1.5em;
}
